body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.pink{
    background-color: rgb(218, 72, 97);
}
.purple{
    background-color: blueviolet;
}
.lightblue{
    background-color: skyblue;
}
.lightyellow{
    background-color: rgb(194, 194, 43);
}

.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}